<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/css/basic.css}" rel="stylesheet">

<head>
    <title>Admin Panel</title>
</head>

<body>
    <section>
        <h4 th:text="#{header.index}">Menu</h4>
        <div>
            <a href="/admin/addArtista">Inserisci dati artista</a>
        </div>
        <div>
            <a href="artista">Elenco artisti</a>
        </div>
        <div>
            <a href="/admin/addCollezione">Inserisci dati collezione</a>
        </div>
        <div>
            <a href="collezione">Elenco collezioni</a>
        </div>
        <div>
            <a href="/admin/addOpera">Inserisci dati opera</a>
        </div>
        <div>
            <a href="opere">Elenco opere</a>
        </div>
        <div>
            <a th:href="@{/logout}">Logout</a>
        </div>

    </section>
    <br>
    <footer>
		<div class="footerButton">
			<a href="/default">Home</a>
		</div>
	</footer>
</body>

</html>