<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/css/basic.css}" rel="stylesheet">

<head>
    <title>Admin Panel</title>
</head>

<body>
    <section>
        <h4 th:text="#{header.index}">Menu</h4>
        <div>
           <a href="/admin/addArtista"><button class="button">Inserisci dati artista</button></a>
        </div>
       
        <div>
            <a href="/admin/addCollezione"><button class="button">Inserisci dati collezione</button></a>
        </div>
      
        <div>
            <a href="/admin/addOpera"><button class="button">Inserisci dati opera</button></a>
        </div>
        <div>
            <a href="/default"><button class="button">Torna indietro</button> </a>
        </div>
      
        <div>
            <a th:href="@{/logout}"><button class="button">Logout</button></a>
        </div>

    </section>
    <br>
</body>

</html>