body{
	background-color:#EDE0D4;
}
nav{
	height: 75px;
	background-color: #E6CCB2;
	text-align:center;
	font-size:30px;
	font-family:Arial;
}
.titolo{
	padding-top:15px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:40px;
}
header{
	height: 50px;
	background-color:#DDB892;
}
.headerButtons{
	padding-top: 15px;
	padding-left: 5px;

}

.flex-container{
	display: flex;
	border:2px solid;
}

img{
	margin:15px;
	height:300px;
}

footer{
	height:100px;
	background-color:#B08968;
}

#scroll {
	
	height:530px;
	margin:0px auto;
	background:#ffffff;
	overflow-y:hidden
	
	}
	#scroll ul {
	float:left;
	margin-right:-999em;
	white-space:nowrap;
	list-style:none;
	}
	#scroll li {
	margin:15px;
	text-align:center;
	float:left;
	display:inline;
	}
	#scroll img {
	border:0;
	display:block;
	margin:0px auto;
	}
	
	#scroll span {
	padding:100px 0 0;
	display:block;
	
	}



