body{
	background-color:#fdd880;
	font-family:Arial;
}
a{
    text-decoration:none;
}
nav{
	height: 75px;
	background-color: #fda621;
	text-align:center;
	font-size:30px;
}
.titolo{
	padding-top:15px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:40px;
}
header{
	height: 70px;
	background-color:#fe730a;
}
.headerButtons{
	font-family:Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
	padding-top: 15px;
	padding-left: 15px;
}

button{
	border-radius: 10px 10px 10px 10px;
	width:100px;
	height: 40px;
}

.flex-container{
	display: flex;
	border:2px solid;
}

img{
	margin:15px;
	height:300px;
}

footer{
	height:100px;
	background-color:#ffbf41;
}


.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: #fe730a;
  }
  
  .container:hover .overlay {
	opacity: 1;
  }
  
  .text {
	color: black;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
  }

  .container {
	position: relative;
	width: 50%;
  }
  
  .image {
	display: block;
	width: 100%;
	height: auto;
  }