<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<link th:href="@{/css/basic.css}" rel="stylesheet">
	<head><title>Artisti</title></head>
<body>
	<nav><p class="titolo">INTERNATIONAL MUSEUM</p></nav>
	<div class="contenuto">
    	<h4>Artisti</h4>
		<ul>
			<li th:each="artista : ${artisti}">
				<a href="artista.html" 
				   th:href="@{'/artista' + '/' + ${artista.id}}" 
				   th:text="|${artista.nome} ${artista.cognome}|"></a>
			</li>
		</ul>
	</div>
	<div class="homeButton"><a href="/default"><img src="/images/home-icon.png"></a></div>

</body>
</html>
