<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head> </head>
<body>
	<header> <h1>Siw - Spring Very Simple Demo[Artista]</h1></header>
	<div>
		<h4>Inserisci i dati di un artista</h4>
	</div>
	<form th:action="@{/admin/artista}" method="POST" th:object="${artista}">
		<div th:if="${#fields.hasGlobalErrors()}">
  			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
		</div>		
		<div>
			<div>
				<span>Nome:</span>
				<span><input type="text" th:field="*{nome}" /></span>
				<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
			</div>		
			<div>
				<span>Cognome:</span>
				<span><input type="text" th:field="*{cognome}" /></span>
				<span th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}"></span>
			</div>
			<div>
				<span>Immagine:</span>
				<span><input type="text" th:field="*{immagine}" /></span>
				<span th:if="${#fields.hasErrors('immagine')}" th:errors="*{immagine}"></span>
			</div>
			<div>
				<span><button type="submit">Invio</button></span>
			</div>
		</div>
	</form>
	
</body>
</html>