<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/css/basic.css}" rel="stylesheet">

<head>
	<title>Inserisci Artista</title>
</head>

<body>
	<nav>
		<p class="titolo">INTERNATIONAL MUSEUM</p>
	</nav>

	<form th:action="@{/admin/artista}" method="POST" th:object="${artista}" class="inserimento">
		<h4>Inserisci i dati di un artista</h4>
		<div th:if="${#fields.hasGlobalErrors()}">
			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
		</div>
		<div>
			<div>
				<label>Nome:</label>
				<span><input type="text" th:field="*{nome}" /></span>
				<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
			</div>
			<div>
				<label>Cognome:</label>
				<span><input type="text" th:field="*{cognome}" /></span>
				<span th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}"></span>
			</div>
			<div>
				<label>Immagine:</label>
				<span><input type="text" th:field="*{immagine}" /></span>
				<span th:if="${#fields.hasErrors('immagine')}" th:errors="*{immagine}"></span>
			</div>
			<div>
				<label>Data di nascita:</label>
				<span><input type="date" th:field="*{dataDiNascita}"/></span>
			</div>
			<div>
				<label>Luogo di nascita:</label>
				<span><input type="text" th:field="*{luogoDiNascita}"/></span>
			</div>
			<br>
			<div>
				<span><button type="submit">Inserisci</button></span>
				<span><button><a href="/default">Annulla</a></button></span>
			</div>
		</div>
	</form>
</body>

</html>