<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<link th:href="@{/css/basic.css}" rel="stylesheet">
	<head><title>Artisti</title></head>
<body>
	<nav><p class="titolo">INTERNATIONAL MUSEUM</p></nav>
	<div>
    	<h4>List of artists</h4>
		<ul>
			<li th:each="artista : ${artisti}">
				<a href="artista.html" 
				   th:href="@{'/artista' + '/' + ${artista.id}}" 
				   th:text="|${artista.nome} ${artista.cognome}|">Paolo Rossi</a>
			</li>
		</ul>
	</div>
	<footer>
		<div class="footerButton">
			<a href="/default">Home</a>
		</div>
	</footer>

</body>
</html>
