<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head> </head>
<body>
	<header>
		<h1>Siw - Spring Very Simple Demo[Collezione]</h1>
	</header>
    <div>
    	<h4></h4>
    	
    	<div th:if="${collezione}" th:object="${collezione}">
			<span th:text="*{nome}">qui-va-nome</span>
			<span th:text="*{descrizione}">qui-va-descrizione</span>
			<span th:text="*{curatore.nome}">qui-va-curatore</span>
   		</div>
		<div>
			<ul>
				<li th:each="opera : ${opereCollezione}">
					<a href="opera.html" 
					   th:href="@{'/opera' + '/' + ${opera.id}}" 
					   th:text="|${opera.titolo}|"
					   th:value="${opera.id}"></a>
				</li>
			</ul>
		</div>
		   <br>
		
	   <div>
		
			<p>AGGIUNGI OPERA A COLLEZIONE</p>
			<form th:action="@{'/admin/addOperaACollezione' + '/' + ${collezione.id}}" method="POST" >
				<select name="opera" id="opera">
				<option value="">---Opera---</option>
				<option th:each="opera : ${opere}"
					th:value="${opera.id}"
					th:text="${opera.titolo}"></option>
				</select>
				<div>
					<button type="submit" th:text="#{aggiungi.opera}"></button>
				</div>		
			</form>
		</div>
		<div>
			<p>RIMUOVI OPERA A COLLEZIONE</p>
			<form th:action="@{'/admin/rimuoviOpera' + '/' + ${collezione.id}}" method="POST" >
				<select name="opera" id="opera">
				<option value="">---Opera---</option>
				<option th:each="opera : ${opereCollezione}"
					th:value="${opera.id}"
					th:text="${opera.titolo}"></option>
				</select>
				<div>
					<button type="submit" th:text="#{rimuovi}"></button>
				</div>		
			</form>
		
		</div>

    	<div th:unless="${collezione}">Non esiste</div>
    </div>
	<footer><a href="/default">Home</a></footer>
</body>
</html>