<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/css/basic.css}" rel="stylesheet">
<head><title>Collezioni</title></head>
<body>
	<nav><p class="titolo">INTERNATIONAL MUSEUM</p></nav>
	<div style="font-size:20px">
    	<h4>Lista di collezioni</h4>
		<ul>
			<li th:each="collezione : ${collezioni}">
				<a href="collezione.html" 
				   th:href="@{'/collezione' + '/' + ${collezione.id}}" 
				   th:text="|${collezione.nome}|"></a>
			</li>
		</ul>
	</div>
	<button><a href="/default">Home</a></button>
</body>
</html>
