<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/css/basic.css}" rel="stylesheet">

<head>
	<title>Inserisci Collezione</title>
</head>

<body>
	<nav>
		<p class="titolo">INTERNATIONAL MUSEUM</p>
	</nav>

	<form th:action="@{/admin/collezione}" method="POST" th:object="${collezione}" class="inserimento">
		<h4>Inserisci i dati di una Collezione</h4>
		<div th:if="${#fields.hasGlobalErrors()}">
			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
		</div>
		<div>
			<div>
				<span>Nome:</span>
				<span><input type="text" th:field="*{nome}" /></span>
				<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
			</div>
			<div>
				<span>Descrizione:</span>
				<span><input type="text" th:field="*{descrizione}" /></span>
				<span th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}"></span>
			</div>
			<div>
				Curatore:
				<select name="curatore" id="curatore" th:field="*{curatore}">
					<option value="">---Curatore---</option>
					<option th:each="curatore : ${curatori}" th:value="${curatore.id}" th:text="${curatore.nome}">
					</option>
				</select>
			</div>
			<br>
			<div>
				<span><button type="submit">Inserisci</button></span>
				<button><a href="/default">Annulla</a></button>
			</div>
		</div>
	</form>

</body>

</html>