<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/css/basic.css}" rel="stylesheet">
<head><title>Collezioni</title></head>
<body>
	<nav><p class="titolo">INTERNATIONAL MUSEUM</p></nav>
	<div>
    	<h4>Lista di collezioni</h4>
		<ul>
			<li th:each="collezione : ${collezioni}">
				<a href="collezione.html" 
				   th:href="@{'/collezione' + '/' + ${collezione.id}}" 
				   th:text="|${collezione.nome} ${collezione.descrizione}|">Paolo Rossi</a>
			</li>
		</ul>
	</div>
	<footer>
		<div class="footerButton">
			<a href="/default">Home</a>
		</div>
	</footer>
</body>
</html>
