<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head> </head>
<body>
	<header>
		<h1>Siw - Spring Very Simple Demo[Collezione]</h1>
	</header>
    <div>
    	<h4></h4>
    	
    	<div th:if="${collezione}" th:object="${collezione}">
			<span th:text="*{nome}">qui-va-nome</span>
			<span th:text="*{descrizione}">qui-va-descrizione</span>
   		</div>
		   <br>
		<div>
			<p>AGGIUNGI OPERA A COLLEZIONE</p>
			<select name="opera" roleId="opera" id="opera" th:field="*{opera}">
			<option value="">---Opera---</option>
			<option th:each="opera : ${opere}"
				th:value="${opera.id}"
				th:text="${opera.titolo}"></option>
			</select>
			<div>
				<a href="addOperaACollezione">Inserisci opera in collezione</a>
			</div>		
		</div>

    	<div th:unless="${collezione}">Non esiste</div>
    </div>
   
</body>
</html>