<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head> </head>
<body>
	<header ></header>
    <section>
        <h4 th:text="#{header.index}">Homepage</h4>
        <h1>Ciao <span th:text="${credentials.username}">qui-va-username</span>!</h1>
		<div>
            <span th:if="${credentials.role == 'ADMIN'}"><a href="/adminPanel">Admin Panel</a></span>
        </div>		
		<div>
            <a href="artista">Elenco artisti</a>
        </div>
        	
		<div>
            <a href="collezione">Elenco collezioni</a>
        </div>
        	
		<div>
            <a href="opere">Elenco opere</a>
        </div>
        <div>
			<a th:href="@{/logout}">Logout</a>
   		</div>
        
    </section>
    <footer></footer>
</body>
</html>