<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<link th:href="@{/css/homeCSS.css}" rel="stylesheet">
	<head></head>
<body>
	<nav><p class="titolo">INTERNATIONAL MUSEUM</p></nav>
	<header>
		<div id="head">
		<span><a href="artista">AUTORI</a></span>
		<span>COLLEZIONI</span>
		<span>INFORMAZIONI</span>
		</div>
	</header>
	<section>
        <h4 th:text="#{header.index}">Menu</h4>
  <!--  <div>
            <a href="addPersona">Inserisci dati persona</a>
        </div>  
        <div>
            <a href="persona">Elenco persone</a>
        </div>  -->
		<div>
            <a href="addArtista">Inserisci dati artista</a>
        </div>		
		<div>
            <a href="artista">Elenco artisti</a>
        </div>
        <div>
            <a href="addCollezione">Inserisci dati collezione</a>
        </div>		
		<div>
            <a href="collezione">Elenco collezioni</a>
        </div>
        <div>
            <a href="addOpera">Inserisci dati opera</a>
        </div>		
		<div>
            <a href="opere">Elenco opere</a>
        </div>
        
        
    </section>
    <footer></footer>
</body>
</html>