<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<link th:href="@{/css/homeCSS.css}" rel="stylesheet">
	<head></head>
<body>
	<nav><p class="titolo">INTERNATIONAL MUSEUM</p></nav>
	<header>		
    	<div>
			<a th:href="@{/login}" th:text="#{index.login}">Accedi</a>
   		</div>
		<div>
			<a th:href="@{/register}" th:text="#{index.register}">Registrati</a>
   		</div>
		<div id="head">
		<span><a href="artista">AUTORI</a></span>
		<span><a href="collezione">COLLEZIONI</a></span>
		<span><a href="opere">OPERE</a></span>
		</div>
	</header>
	<section>
 
        
    </section>
    <footer></footer>
</body>
</html>