<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<link th:href="@{/css/homeCSS.css}" rel="stylesheet">
	<head></head>
<body>
	<nav><p class="titolo">INTERNATIONAL MUSEUM</p></nav>
	<header>	
		<div class="headerButtons">
			<button><a th:href="@{/login}" th:text="#{index.login}">Accedi</a></button>
			<button><a th:href="@{/register}" th:text="#{index.register}">Registrati</a></button>	
		</div>	
	</header>
	<section>
		<div id="scroll">
			<ul>
			<li><img th:src="@{${'/images/Gioconda.jpg'}}"/><span>La Gioconda</span></li>
			<li><img th:src="@{${'/images/SalvadorMundi.jpg'}}"/><span>Salvator Mundi</span></li>
			<li><img th:src="@{${'/images/UomoVitruviano.jpg'}}"/><span>Uomo vitruviano</span></li>
			<li><img th:src="@{${'/images/UltimaCena.jpg'}}"/><span>Ultima cena</span></li>
			</ul>
		</div>
	</section>
    <footer></footer>
</body>
</html>