<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/css/basic.css}" rel="stylesheet">

<head>
	<title>Opere</title>
</head>

<body>
	<nav>
		<p class="titolo">INTERNATIONAL MUSEUM</p>
	</nav>
	<div style="font-size: 20px;">
		<h4>List of artworks</h4>
		<ul>
			<li th:each="opera : ${opere}">
				<a href="opera.html" th:href="@{'/opera' + '/' + ${opera.id}}" th:text="${opera.titolo}"></a>
			</li>
		</ul>
	</div>

	<button><a href="/default">Home</a></button>


</body>

</html>